<div class="container">
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter a brand, model or year"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-danger", style: "background-color:red" %>
    <% end %>
  </div>
</div>
<div class="cards">
  <% @cars.each do |car| %>
 <div class="col">
    <div class="card">
      <img src= <%= car.image_url %> class="card-img-top" alt="no image">
      <div class="card-body">
        <h5 class="card-title"><%= car.model.capitalize %></h5>
        <p class="card-text"><%= car.brand%></p>
        <p class="card-text"><%= car.year%></p>
        <%= link_to "Book now", car_path(car), class: "btn btn-danger", style: "background-color:red"%>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
