<h1><%= @car.model%> </h1>

<h3>Book this car</h3>
<%= simple_form_for([@car, @booking]) do |f| %>
  <%= f.input :start_date, as: :date, label: "Start Date", input_html: { class: "form-control" } %>
  <%= f.input :end_date, as: :date, label: "End Date", input_html: { class: "form-control" } %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Go Back", cars_path %>
